[submodule "flatpak-builder-tools"]
	path = build-aux/flatpak/flatpak-builder-tools
	url = https://github.com/flatpak/flatpak-builder-tools
[submodule "shared-modules"]
	path = build-aux/flatpak/shared-modules
	url = https://github.com/flathub/shared-modules.git
