.global-search search {
    padding: 12px;
    border-bottom: 1px solid var(--border-color);
}
.global-search search > label {
    font-size: 1.33333em;
    margin-left: 6px;
    margin-right: 6px;
}
.global-search search > text {
    font-size: 1.33333em;
    margin-left: 6px;
    margin-right: 6px;
}
.global-search search > text placeholder {
    opacity: 0.55;
}

.card-row-btn {
    border-radius: 0;
}

.app-tile {
    background-color: alpha(var(--card-bg-color), 0.7);
}

.screenshot {
    border-radius: 20px;
}

.browser-banner {
    border-radius: 25px;
    background-color: transparent;
}
.browser-banner-title {
    font-size: 3.2em;
    font-weight: bolder;
}
.browser-banner-subtitle {
    font-size: 2.0em;
    font-weight: bold;
}
.browser-banner-description {
    font-size: 1.33em;
    font-weight: normal;
}

.support-button {
    background-color: alpha(#f06292, 0.25);
    color: #f06292;
    padding: 2px 12px;
}

.star-button {
    background-color: alpha(@warning_bg_color, 0.25);
    color: @warning_color;
    padding: 2px 12px;
}

.flathub-page-section {
    border-radius: 10px;
}

window,
headerbar,
.global-search {
  transition: background-color 0.2s ease;
}

.flathub {
  --flathub-bg-hue: 301.44;
}

.flathub .global-search,
window.flathub {
  background-color: oklch(from var(--window-bg-color) l calc(c * 4) var(--flathub-bg-hue));
}

.flathub .toplevel-headerbar {
  background-color: oklch(from var(--headerbar-bg-color) l calc(c * 4) var(--flathub-bg-hue));
}

