.global-search search {
    padding: 12px;
    border-bottom: 1px solid var(--border-color);
}
.global-search search > label {
    font-size: 1.33333em;
    margin-left: 6px;
    margin-right: 6px;
}
.global-search search > text {
    font-size: 1.33333em;
    margin-left: 6px;
    margin-right: 6px;
}
.global-search search > text placeholder {
    opacity: 0.55;
}

.neutral-icon {
    padding: 4px;
    color: var(--accent-fg-color);
    background-color: var(--accent-bg-color);
    border-radius: 5px;
}

.good-icon {
    padding: 4px;
    color: var(--success-fg-color);
    background-color: var(--success-bg-color);
    border-radius: 5px;
}

.bad-icon {
    padding: 4px;
    color: var(--warning-fg-color);
    background-color: var(--warning-bg-color);
    border-radius: 5px;
}

.screenshot {
    border-radius: 20px;
}

.long-description {
    border-top: 2px solid var(--border-color);
    border-bottom: 2px solid var(--border-color);
}

.screenshot-scroll {
    border-top: 2px solid var(--border-color);
    border-bottom: 2px solid var(--border-color);
}

.browser-banner {
    border-radius: 25px;
    background-color: transparent;
}
.browser-banner-title {
    font-size: 3.2em;
    font-weight: bolder;
}
.browser-banner-subtitle {
    font-size: 2.0em;
    font-weight: bold;
}
.browser-banner-description {
    font-size: 1.33em;
    font-weight: normal;
}
