.flathub .toplevel-headerbar{
  background-color: #3e3947;
}
.flathub .global-search {
  background-color: #251f32;
}
window.flathub {
  background-color: #251f32;
}
.flathub .transactions-stack {
  background-color: #2f273f;
}